﻿@{
    ViewData["Title"] = "Upload Pdf Files";
}

<p>@ViewData["Title"]</p>

<form asp-controller="PdfService" asp-action="Upload" method="post" enctype="multipart/form-data">

	<input type="file" name="file" accept="application/pdf"/>
	<button type="submit">Upload File</button>
</form>

